body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

header{
    display: flex;
    min-height: 70px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100vh;
}

.person {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    width: 45%; 
}

.person img {
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.person.left {
    margin-right: 10px; 
}

.person.right {
    margin-left: 10px; 
}

.person h2 {
    margin-bottom: 10px;
    color: #333;
}

.person p {
    margin: 5px 0;
    color: #666;
}


body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color:black;
}

.banner {
    padding: 20% 5%;
    color: black;
    font-size: 30px;
}

header{
    display: flex;
    min-height: 70px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: grey;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 9px;
    }
}

* {
    margin: 0;
}

body {
    background-image: url('tile1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color:black;
    padding:10px 0;
    text-align: center;
    color:black;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.person {
    text-align: center;
    margin-bottom: 20px;
}

.person img {
    width: 200px; 
    height: 200px;
    border-radius: 55%; 
    margin-bottom: 10px;
}

.info {
    text-align: left;
}
